<!DOCTYPE html>
<html>

<script>

function openWin(img){
   var path = "images/";
   window.open(path+img,"mywin","menubar=0,resizable=1,width=10,height=20");
}

function goBack() 
  {
    window.history.back();
  }
function goHome()
  {
    window.location = '/';   
  }
</script>


<head>
<style  type="text/css">

body {
    background-image: url("images/gencode.png");
    background-repeat: no-repeat;
    background-size:40% 200%;
    background-position: top left;
    background-color: white;
}

.box {
    width:30px;
    height:30px;
    background-color:#FFFFFF;
    position:fixed;
    margin-left:-50px;
    margin-top:-50px; 
    top:50%;
    left:10%;
}

</style>
</head>

<body>
<div id="page">
 <div id="sidebar">
  </div>
    <p><p>
    <table class="box">
     <tr><td>&nbsp;</td></tr>
     <form action="<% upload_a_file_url %>" method="post" enctype="multipart/form-data">
      <tr><td>upload&nbsp;a&nbsp;feature&nbsp;&nbsp;&nbsp;</td><td>
       <input type=submit value="&#8594;">
      </td></tr>
     </form>
     <form action="<% check_for_overlaps_url %>" method="get">
      <tr><td>&nbsp;</td></tr>
      <tr><td>check&nbsp;for&nbsp;overlaps&nbsp;&nbsp;&nbsp;</td><td>
       <input type=submit value="&#8594;">
      </td></tr>
     </form>
     <form action="<% download_a_feature_url %>" method="get">
      <tr><td>&nbsp;</td></tr>
      <tr><td>download&nbsp;a&nbsp;feature&nbsp;&nbsp;&nbsp;</td><td>
       <input type=submit value="&#8594;">
      </td></tr>
     </form>
     <form action="<% delete_a_feature_url %>" method="get">
      <tr><td>&nbsp;</td></tr>
      <tr><td><font color="red">delete&nbsp;a&nbsp;feature&nbsp;&nbsp;&nbsp;</font></td><td>
       <input type=submit value="&#8594;">
      </td></tr>
     </form>
    </table>
  </div>
 </div>
</div>
